.vans-container {
    max-width: 549px;
    margin: 0 auto;
    background: #FFF7ED;
}

.vans {
    max-width: 549px;
    margin: 0 auto;
    padding-bottom: 30px;
    
    background: #FFF7ED;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}