header {
    max-width: 549px;
    height: 112px;

    margin: 0 auto;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFF7ED;
    border-bottom: 1px solid #ededed;
}

header a:not(.account-icon) {
    text-decoration: none;
    transition: .4s;
}

header a:not(.account-icon):hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #000;
}

header a:not(.account-icon).active {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #000;
}

header .logo {
    font-weight: 900;
    font-size: 26px;
    color: #111111;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header > nav > a:not(.account-icon) {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 600;
}

header > nav > a.account-icon {
    cursor: pointer;
}

header .account-icon > img {
    width: 20px;
    object-fit: contain;
}


/* Footer */
footer {
    max-width: 549px;
    height: 75px;
    margin: 0 auto;

    background: #252525;
    color: #AAAAAA;

    font-size: 14px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found {
    max-width: 549px;
    margin: 0 auto;
    background: #FFF7ED;
    padding: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.not-found > h2 {
    font-weight: 700;
    font-size: 32px;
    color: #161616;
    
}

.not-found > a {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 549px;
    height: 55px;

    background: #161616;
    color: #fff;

    font-weight: 700;
    font-size: 16px;

    border-radius: 5px;
    transition: .4s;
}

.not-found > a:hover {
    background: #000;
}

.loading-message {
    max-width: 549px;
    margin: 0 auto;
    padding: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #161616;
    text-align: center;
    animation: fade 1s ease-in-out infinite;
}

@keyframes fade {
    0%, 20%, 80%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.error-msg {
    max-width: 549px;
    margin: 0 auto;
    padding: 30px;
    background: #FFF7ED;
}

.error-msg > h1 {
    color: #161616;
    font-size: 32px;
    font-weight: 700;
}